<%- include('../partials/header') %>



  <img class="user-pic" src="<%= user.avatar %>" alt="avatar" referrerpolicy="no-referrer"><br>
  <h2>Welcome <%= user.name %></h2><br>


<%- include('../partials/footer') %>
