<%- include('../partials/header') %>

<h2>Enter New Event</h2>
<div class="container">
    <form action="/events" method="POST">
        <label >Event Name:
            <input type="text" name="eventName">
        </label><br>
        <label >Date:
            <input type="datetime-local" name="date" >
        </label><br>
        <label >Place: 
            <input type="text" name="place">
        </label><br>
        <label >Cost:
            <select name="cost">
                <option value="Free">Free</option>
                <option value="$">$</option>
                <option value="$$">$$</option>
                <option value="$$$">$$$</option>
            </select>
        </label><br>
        <label >Event Info: 
            <textarea name="description" id="event-desc"></textarea>
        </label><br>
        <button type="submit">Add Event</button>
    </form>
</div>


<%- include('../partials/footer') %>
